@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 6px;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #F9FAFB;
}

p {
    color: #4B5769;
}

/* utilities */
.card-transition {
    transition: transform 500ms linear;
}

.card-transition:hover {
    transform: translateY(-5px);
    transition: transform 500ms linear;
}

.icon-transition {
    transition: transform 500ms linear;
}

.card-transition:hover .icon-transition {
    transform: scale(1.1);
    transition: transform 500ms linear;
}

.prevent-overflow {
    overflow: hidden;
}

img {
    object-fit: cover;
}

/* header section  */
header {
    background-color: #fff;
    padding: 0 24px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    /* semi-transparent background */
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #d9d9d9;
    z-index: 1000;
}

header .mobile-nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    gap: 20px;
    font-weight: 600;
}

.nav-logo span {
    font-weight: 800;
    height: 40px;
    width: 40px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

/* Desktop nav */
.desktop-nav {
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    font-size: 16px;
    padding: 8px 0;
    text-decoration: none;
    color: #000;
    /* position: relative; */
}

/* main section */
main {
    padding: 40px 24px;
}

.section-heading {
    font-size: 14px;
    text-transform: capitalize;
    padding: 8px 16px;
    border-radius: 25px;
    color: #334153;
    background-color: #EEEFF1;
    margin-bottom: 10px;
    display: inline-block;
}

@keyframes colorflicker {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.6;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

.section-heading-icon {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.section-heading-icon::before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: #00C753;
    border-radius: 50%;
    animation: colorflicker 3s infinite;
}

/* resuable  */
.section-title {
    font-size: 5rem;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 16px;

}

.section-paragraph {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #4B5769;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    text-transform: capitalize;
    font-size: 18px;
    width: 100%;
    padding: 16px 32px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
}


.btn-black {
    color: #fff;
    background-color: #000;
}

/* hero section  */
.hero-left {
    padding-bottom: 48px;
    border-bottom: 1px solid #d9d9d9;
}

.report {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 10px;
}

.report-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.report-item .report-data {
    font-size: 5rem;
    font-weight: 700;
}

.report-item .report-description {
    font-size: 14px;
    color: #4B5769;
}

.hero-right {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-right-content {
    display: none;
}

.feature-wrapper {
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    background-color: #fff;
}

.feature-wrapper b {
    font-size: 14px;
}

.feature-wrapper p {
    font-size: 12px;
    color: #4B5769;
}

.feature-wrapper .svg-wrapper {
    color: #fff;
    height: 40px;
    min-width: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.lightning {
    background-color: #2B7FFF;
}

.tick {
    background-color: #00C851;
}

/* section services */
.services,
.trusted,
.portfolio,
.about-us {
    text-align: center;
    padding-top: 96px;
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.service-card {
    text-align: left;
    background-color: #F8F8FA;
    border: 1px solid #d9d9d9;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
}

.service-icon {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
}

.service-card h3 {
    font-size: 18px;
    font-weight: 600;
}

.service-card p {
    font-size: 14px;
}

.service-card ul {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.service-card ul li {
    font-size: 12px;
}

/* Section trusted by  */
.partners-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 60px 0;
    flex-wrap: wrap;
}

.partners-card {
    flex-basis: 100%;
    padding: 25px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
}

/* section protfolio */
.portfolio-list {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.portfolio-card {
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background-color: #fff;
    padding: 0 10px;
    margin: 16px 0;
    flex-basis: 100%;
}

.portfolio-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.portfolio-desc {
    font-size: 14px;
    margin-bottom: 16px;
}

.portfolio-tags {
    display: flex;
    align-items: center;
    gap: 20px;
}

.portfolio-tags .section-heading {
    font-size: 12px;
}

.portfolio-bottom {
    text-align: left;
    padding: 24px;
}

.view-center {
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

/* About us section */
.about-us-report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    margin: 40px 0;
}

/* Footer */
footer {
    padding: 40px 20px;
    background-color: #E6E7EB;
    border-top: 1px solid #d9d9d9;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 25px;
}

.footer-about p {
    font-size: 16px;
    padding: 16px 0;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-item a {
    border-radius: 10px;
    background-color: #fff;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms linear;
    transition: scale 300ms linear;
}

.social-item a:hover {
    background-color: #000;
    transform: translateY(-4px);
    transition: transform 300ms linear;
    scale: 1.1;
    transition: scale 300ms linear;
}

.social-item a:hover svg {
    color: #fff;
}

.social-item a svg {
    height: 20px;
    width: 20px;
}

.footer-item h3 {
    font-size: 16px;
    padding-bottom: 16px;
}

.footer-item ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-item ul li {
    font-size: 16px;
}

.footer-bottom {
    padding-top: 25px;
    border-top: 1px solid #d9d9d9;
    font-size: 16px;
    text-align: center;
}

/* media quaries */
@media screen and (min-width: 481px) {

    .portfolio-list .portfolio-card,
    .partners-card,
    .service-card {
        flex-basis: calc(50% - 25px);
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 8px;
    }

    .service-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    mian {
        padding: 40px;
    }

    .service-card {
        flex-basis: calc(50% - 25px);
    }

    .footer-top {
        flex-direction: row;
    }

    .footer-item {
        flex-grow: 1;
        padding: 0 15px;
    }

    .footer-item ul li {
        white-space: nowrap;
    }
}

@media screen and (min-width: 1024px) {
    header .mobile-nav {
        display: none;
    }
    
    main,
    footer,
    header {
        padding-left: 80px;
        padding-right: 80px;
    }


    header .desktop-nav {
        display: flex;
    }

    .hero-section {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .top-btn {
        font-size: 18px;
        padding: 10px;
    }

    .hero-left,
    .hero-right {
        width: 50%;
    }

    .hero-right {
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        height: 90vh;
        position: relative;
    }

    .feature-wrapper.bottom-right {
        position: absolute;
        right: -20px;
        bottom: -20px;
    }

    .feature-wrapper.top-left {
        position: absolute;
        left: -20px;
        top: -20px;
    }

    .btn.top-right {
        position: absolute;
        right: 40px;
        top: 40px;
        width: unset;
        font-size: 12px;
        border-radius: 25px;
    }

    .hero-right-content {
        display: block;
        position: absolute;
        width: 30%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-right-content svg {
        color: #D1D5DB;
    }

    .service-card:nth-child(even) {
        flex-basis: unset;
        width: 30%;
    }

    .service-card:nth-child(odd) {
        flex-basis: unset;
        width: calc(70% - 25px);
    }

    .service-card:nth-child(1) {
        order: 4;
    }

    .service-card:nth-child(2) {
        order: 3;
    }

    .service-card:nth-child(3) {
        order: 2;
    }

    .service-card:nth-child(4) {
        order: 1;
    }

    .partners-card {
        flex-basis: calc(25% - 25px)
    }

    .footer-item {
        flex-grow: unset;
        flex-basis: calc(33% - 30px);
    }

    main,
    footer,
    header {
        padding-left: 80px;
        padding-right: 80px;
    }

    .buttons {
        flex-direction: row;
    }

}