* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    color: white;
    background-color: black;
}

h2 {
    color: blue;
    background-color: gray;
}

p {
    color: white;
    background-color: blue;
}

.heading-one {
    /* clock wise from top-right-bottom-left */
    /* margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 30px; */
    margin: 10px 30px 20px 30px;
    border: 5px solid red;

    /* padding( distance between element and border) is same as margin  */
    padding: 5px 50px 10px 5px;
    height: 80px;
}

.heading-two {
    /* top, right-left , bottom */
    margin: 10px 30px 20px;
}

.paragraph-1 {
    /* top-bottom , right left */
    margin: 10px 20px;
}
